/*---FONT---*/
@font-face{
	font-family: "Chunkfive";
	src: url("Chunkfive.otf");
}

/*---GENERAL---*/
body{
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

.container{
	width: 900px;
	margin: 0 auto;
	background-color: lightblue;
}

/*---HEADER---*/
header{
	background-color: #000;
	color: #FFF;
	width: 100%;
	height: 100px;
	position:absolute;
	top: 0;
	z-index: 1;
}

h1{
	font: 5em Chunkfive;
	margin: 0;
	float: left;
}

	/*---NAV---*/
	nav{
		float: right;
		margin-left: 50px;	
	}
	
	nav li{
		display: inline;
		padding: 25px;
		float: left;
	}
	
	li a{
		text-decoration: none;
		color: #FFF;
		text-transform: uppercase;	
	}
	
/*---CTA---*/
.cta{
	height: 800px;
}

	/*---BG---*/
	.bg{
		z-index: 0;
		position: absolute;
	}
	
	.cta img{
		width: 100%;
		transition: opacity 0.5s;
	}
	
	/*---TEXT---*/
	.cta .text{
		font-size: 1.2em;
		text-align: center;
		position: relative;
		z-index: 10;
		color: #FFF;
		top: 350px;
		background-color: rgba(0,0,0,0.65);
		width: 800px;
		padding: 20px;
		margin: 0 auto;
		border-radius: 5px;
	}
	
	/*---BUTTON---*/
	.cta button{
		padding: 10px;
		text-transform: uppercase;
		font-size: 1em;
		font-weight: 700;
		background-color: #FFF;
		border: none;
		border-radius: 2px;
	}
	
	button a{
		text-decoration: none;	
		color: #000;
	}

/*---GRADIENT---*/
.gradient{
	position: relative;
	z-index: 10;
	height: 200px;
	background: linear-gradient(rgba(255,0,0,0), #000);
}
	
/*---CONTENT---*/
.content{
	position: relative;
	z-index: 10;
	background-color: #000;
	padding: 30px 0;
	min-height: 600px;
	color: #FFF;
}